.bufu{
    float: right;
    margin-left: 20px;
}
.red{
    color:red;
    font-size: 100px;
    margin-bottom: 0px;
}

#aaa{
    font-weight: bold;
    text-align: left;
    padding:20px;
    background-color: yellowgreen;
    color: purple;
    height: 300px;
    overflow: scroll;
}